body {
  background-color: #fafafa;
}

div.game {
  position: relative;
}

.game section {
  width: 49%;
}

section.description {
  height: 100%;
}

section.sidebar {
  position: absolute;
  right: 0;
  top: 0;
}

.next-button {
  position: absolute;
  right: 0;
  bottom: 0;
}

.panel {
  display: block;
  background-color: white;
  /* box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.35); */
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 20px;
}

.panel h1 {
  margin-top: 0;
  font-size: 20px;
}

.panel.gauges div {
  margin: auto;
  width: 320px;
}
